<!-- IF LAST_IMAGES_ATACHMENT -->
<!-- IF IMAGES_ATT_CAROUSEL -->
<!-- INCLUDEJS jquery.carouFredSel-5.2.2-packed.js -->
<!-- ENDIF -->
<script type="text/javascript">
$(document).ready(function() {
$('#scroll-crawl h3 a span').unwrap();
<!-- IF IMAGES_ATT_CAROUSEL -->
	$('#scroll-jq img').load(function() {
		$('#scroll-jq').carouFredSel({
			prev: '#prev2',
			next: '#next2',
			scroll: 1,
		});
		return false;
	});
<!-- ELSE -->
	marqueeInit({
		uniqueid: 'scroll-cr',
		style: {
			'padding': '0px',
			'width': '99%',
			'margin': '0 auto'
		},
		inc: 4, //speed - pixel increment for each iteration of this marquee's movement
		mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
		moveatleast: 1,
		neutral: 600,
		savedirection: false
	});
<!-- ENDIF -->
});
</script>
<!-- ENDIF -->
